main {
    min-width: 300px;
    background-color: grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;;
    font-size: 1.6rem;
    padding: 10px;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  ul {
    width: 40%;
  }
  
  #img-div {
    background-color: white;
    min-width: 300px;
    margin: 30px;
    padding: 20px;
  }
  
  img {
    margin: 10px;
    max-width: 100%;
    min-width: 300px;
    display: block;
    margin: auto;
  }
  
  figcaption {
    text-align: center;
  }
  
  #tribute-info {
    width: 50%;
    min-width: 300px;
    margin: auto;
    padding: 10px auto;
  }
  
  ul {
    width: 100%;
  }
  
  
